body {
    font-family: Helvetica;
    text-align: center;
    margin: 100px 150px 100px 80px;
}
.header {
    background-image: url("../images/building.png");
    background-repeat: no-repeat;
}
.header h1 {
    color: white;    
    font-size: 60px;
    font-weight: bold;  
}
.header h3 {
    color: white;
}
.header a {      
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.footer a {    
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.footer span {    
    color: white;
    font-size: 11px;    
}
.footer {
    text-align: left;
    background-color: dimgray;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 32px;
    font-weight: bold;
}